[submodule "Marvelmind_Driver/Marvelmind_Driver/libraries/Marvelmind_Arduino_Library"]
	path = Marvelmind_Driver/Marvelmind_Driver/libraries/Marvelmind_Arduino_Library
	url = https://github.com/racarla96/Marvelmind_Arduino_Library.git
